:root {
    --color:  #ebf4fe;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
    font-size: 16px;
    background-image: radial-gradient(circle at 50% -20.71%, #cbe7e1 0, #cae7e3 6.25%, #c9e7e6 12.5%, #c9e7e8 18.75%, #c9e7eb 25%, #c9e7ed 31.25%, #cae6ef 37.5%, #cbe6f1 43.75%, #cde5f2 50%, #cfe4f3 56.25%, #d1e4f4 62.5%, #d4e3f5 68.75%, #d7e2f5 75%, #dae1f5 81.25%, #dde0f4 87.5%, #e0e0f4 93.75%, #e3dff2 100%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    background: #ebf4fe;
    width: 400px;
    height: 250px;
}
img {
    margin: 10px;
}
.btn{
    border: none;
    border-radius: 30px;
    background: #1C4881;
}
.btn:hover{
    background: #ED5B2E;
}
.btn a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}
.btn a:hover {
    color: #000;
}