:root{
    --color-general: #aed3f9;
    --color-botones: #1C4881;
    --color-botones-hover: #ED5B2E;
    --color-fondo: #EBF2FA;
  }
  
  *, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background: #aed3f9;
}

/*TITULO PÁGINA*/
h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    padding: 10px;
    color: #fff;
    background: #1C4881;
    max-width: 1280px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*CONTENEDOR GALERÍA*/
  .container-galery{
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  
  }
  .container .title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 100%;
    max-width: 200px;/*180*240*/
    height: auto;
    margin: 20px;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(28, 72, 129, .9);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{ top: 80%; }
  
  .fadeIn-top{ top: 20%; }
  
  .fadeIn-left{ left: 20%; }
  
  .fadeIn-right{ left: 80%; }


  @media screen and (max-width: 600px) {
    .content {
      width: 100px;/*180*240*/
      height: auto;
      margin: 10px;
    }
    
    .content .content-overlay {
      background: rgba(28, 72, 129, .9);
      position: absolute;
      height: 99%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      overflow:visible;
    }
  }


/*MEDIA QUERy*/

@media screen and (max-width: 550px) {
  /*titulo*/
  h1{
    font-size: 18px;
  }
}
